/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-bg-image: url(../images/cover-image-dark.png);
  --cover-color: #000028;
  --accent-color: #ff0070;
  --color-text: #f1b2ce;
  --accent-header-color: #DB00FF;
  --color-title-main: #ff0070;
  --color-button-theme: #ff0070;
  --color-decor-lamp: #ff0070;

  --base-font-family: 'IBM Plex mono';
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --margin-block-h3: 20px 10px;
  --margin-block-h4: 20px 10px;
}